ion-content{

    --ion-background-color:#ffffff;
}

.parrafo{
    color: black;
    text-align: center;
}

.header{
    --background: #001841;
}

.card{
    --background: #ffffff;
}
.titulo{
    color: black;
}

.button{
    --background:#001841;
}

.icon{
    color: #F7B512;
}