<ion-header>
  <ion-toolbar class="header">

    <ion-title color="light">Escanear QR</ion-title>
    <ion-buttons slot="end">
      <ion-back-button class="icon"
        defaultHref="/"
        text="Volver"
        mode="ios">
      </ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-header>
    <ion-card-subtitle>Escanee el Codigo QR</ion-card-subtitle>
    <ion-card-title>Dispone de un tiempo máximo de 5 minutos para escanear el QR que proyectará su profesor.</ion-card-title>
  </ion-card-header>
  <ion-card>
    <img src="assets/escanearqr2.png" class="ion-padding">
  </ion-card>
  <br>
  <ion-button expand="block" class="button" (click)="presentAlert()">Confirmar Asistencia</ion-button>
  <br><br>

</ion-content>
