.header{
    --background: #001841;
}
.button{
    --background:#001841;
}

.icon{
    color: #F7B512;
}
.parrafo{
    color: black;
    text-align: center;
}
.titulo{
    color: black;
    text-align: center;
}